@charset "UTF-8";
@import "../../main.scss";
@import "../../fonts.scss";

.page-header { position:fixed; width:100%; left:0; top:0; z-index:11; @include gradient-left-right($skillstool_green_2, $skillstool_green_3); @include box-shadow(0, 2px, 2px, 0, rgba(0,0,0,0.2)); }
.page-header a { color:$skillstool_green_4; text-decoration:none; }
.page-header .home-logo { display:block; float:left; margin:em(21) 0 em(19) em(13); background:url(../../assets/images/logos/skills-transition-tool-logo.png) no-repeat 0 0; @include background-size(contain); width:em(112); height:em(15); text-indent:-999em; }
.page-header .careersnz-logo { display:none; }

@media only screen and (min-width:800px) {
    .page-header .page-wrapper { padding:0 em(20); }
    .page-header .home-logo { width:em(215); height:em(28); margin:em(24) 0 em(25) 0; }
    .page-header .careersnz-logo { display:block; float:left; margin:em(19) 0 0 em(31); background:url(../../assets/images/logos/careersnz-logo.png) no-repeat 0 0; @include background-size(contain); width:em(126); height:em(45); text-indent:-999em; }
}

/* Header tools */
.header-tools { float:right; }
.header-tools ul { list-style:none; }
.header-tools li { font-size:em(15); display:inline-block; position:relative; }
.header-tools a { display:block; padding:em(18,15) em(24,15) em(15,15); }
.header-tools a:hover, .header-tools a:active, .header-tools a:focus { color:#fff; }

@media only screen and (max-width:799px) {
    .header-tools .active a, .header-tools a:hover, .header-tools a:active, .header-tools a:focus { background:$skillstool_green_1; color:#fff; }
    /*.header-tools .tool-edit a:after { content:'\e80f'; margin-left:em(5,15); } */
    .header-tools .tool-save a { padding-left:em(20,15); padding-right:em(24,15); }
    .header-tools .tool-edit ul { display:none; position:absolute; width:em(160,15); left:0; top:em(54,15); z-index:13; padding:em(10,15) 0; background:$skillstool_green_1; @include box-shadow-inset(0, 2px, 2px, 0, rgba(0,0,0,0.2)); }
    .header-tools .tool-edit ul li { font-size:1em; display:block; }
    .header-tools .tool-edit ul li a { padding-top:em(5,15); padding-bottom:em(5,15); }
    .header-tools .tool-edit ul li a:hover, .header-tools .tool-edit ul li a:active, .header-tools .tool-edit ul li a:focus { background:$skillstool_green_3; }
    .header-tools .tool-edit.active ul { display:block; }
}
@media only screen and (min-width:800px) {
    .header-tools li { font-size:em(17); }
    .header-tools li li { font-size:inherit; }
    .header-tools a { display:block; padding:em(24,17) em(10,17) em(15,17); }
    .header-tools li:last-child a { padding-right:0; }
    .header-tools .tool-edit a { display:none; }
    .header-tools .tool-edit ul a { display:block; }

}