


.text-select {
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.text-select select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-appearance: none;
}
