
/* SASS imports */
@import "../../../styles/_sass_mixins_colours";

.list,
.topcoat-list {
  padding: 0;
  margin: 0;
  font: inherit;
  color: white;;
  background: $skillstool_blue_3;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.list__header,
.topcoat-list__header {
  margin: 0;
}

.list__container,
.topcoat-list__container {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list__item,
.topcoat-list__item {
  margin: 0;
  padding: 0;
}

.topcoat-list {
  background-color: #555555;
}

.topcoat-list__header {
  padding: 4px 20px;
  font-size: 1em;
  font-weight: 400;
  background-color: #333333;
  color: #c6c8c8;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
}

.topcoat-list__container {
  color: #c6c8c8;
  margin-left: 20px;
  padding: 0.5rem 0rem 0.2rem 1rem ;
  background : white;
  width: 80%;
  @include border-radius(0 em(21,21) em(21,21) em(21,21));
}

.topcoat-list__item {
  padding: 0.1rem 0rem 0.1rem 1rem ;
  font-size: 1.3em;
  color: white;
}

.topcoat-list__item:first-child {
}

.topcoat-text-input {
  width: 100%;
}
li.hover {
  background: #bbbbbb;
}
.topcoat-addme::before {
  content: 'Add me: '
}
.topcoat-addme {
  text-align: right;
}