/*
 ACTION PLAN DRAWER
---------------------------------------
*/
@charset "UTF-8";
@import "../../main.scss";

.action-plan { /* position:fixed; left:0; bottom:0; width:100%; z-index:11; */}
.action-plan .page-wrapper { position:relative; }


/* Plan header */
.action-plan .plan-header { background:$skillstool_blue_1; }
.action-plan .plan-help, .action-plan .plan-trigger .text { display:none; }
.action-plan .plan-title { font-size:em(24); line-height:lh(28,24); color:#fff; text-align:center; padding:em(10,24) 0 em(9,24); cursor:pointer; }
.action-plan .plan-count { font-size:em(15.5,24); display:block; }
.action-plan .plan-trigger { font-size:em(17); color:$skillstool_blue_4; position:absolute; top:em(20,17); right:em(14,17); }
.action-plan .plan-trigger .icon-chevron-up, .action-plan .plan-trigger .icon-chevron-down { font-size:em(22,17); }
.action-plan .plan-trigger:hover, .action-plan .plan-trigger:active, .action-plan .plan-trigger:focus { color:#fff; text-decoration:none; }

/* Plan buttons */
.action-plan .plan-button { font-size:1em; line-height:1; display:block; padding:em(8,20) em(20,20); background:#fff; color:$skillstool_green_2; border:2px solid $skillstool_green_2; @include border-radius(em(20,20)); letter-spacing:-0.025em; text-align:center; }
.action-plan .plan-button:hover, .action-plan .plan-button:active, .action-plan .plan-button:focus { text-decoration:none; background-color:$skillstool_green_2; color:#fff; border-color:#fff; }
.action-plan .plan-help .plan-button { border-color:$skillstool_blue_4; color:$skillstool_blue_1; }
.action-plan .plan-help .plan-button:hover, .action-plan .plan-help .plan-button:active, .action-plan .plan-help .plan-button:focus { background-color:$skillstool_blue_4; color:#fff; }

/* Plan footer */
.action-plan .plan-footer { background:$skillstool_body; }
.action-plan .plan-footer .page-wrapper { padding:em(19) 0 em(19) em(15); text-align:center; }
.action-plan .plan-tools { margin:0 auto; overflow:hidden; }
.action-plan .plan-tools li { font-size:em(20); float:left; width:45%; margin:0 5% 0 0; }

@media only screen and (min-width:600px) {

  /* Plan header */
  .action-plan .plan-help { display:block; position:absolute; top:em(12); left:0; }
  .plan-help .help-trigger { font-size:em(17); display:block; color:$skillstool_blue_4; position:relative; padding:em(16,17) 0 0 em(67,17); }
  .plan-help .help-trigger .avatar { position:absolute; top:0; left:0; border-color:$skillstool_blue_4; }
  .plan-help .help-trigger:hover, .plan-help .help-trigger:active, .plan-help .help-trigger:focus { color:#fff; text-decoration:none; }
  .plan-help .help-trigger:hover .avatar, .plan-help .help-trigger:active .avatar, .plan-help .help-trigger:focus .avatar { border-color:#fff; }

  /* Plan help popup */
  .plan-help .help-popup { display:none; position:absolute; bottom:em(67); left:em(-8); width:em(304); background:$skillstool_blue_1; z-index:12; }
  .plan-help .help-popup:after { content:""; position:absolute; bottom:em(-13); left:em(25); width:0; height:0; border-style:solid; border-width:em(13) em(12) 0 em(12); border-color:$skillstool_blue_1 transparent transparent; }
  .plan-help .help-popup .first-view { cursor:pointer; padding-bottom:1em; }
  .plan-help .help-popup .help-title { font-size:em(22); color:#fff; padding:em(21,22) em(15,22) em(4,22); line-height:lh(27,22); }
  .plan-help .help-popup ul { padding:0 em(20) em(16); }
  .plan-help .help-popup li { font-size:em(18); margin:em(13,18) 0; }
  .action-plan .plan-title { font-size:em(27); line-height:lh(28,27); padding:em(20,27) 0 em(13,27);}
  .action-plan .plan-count { font-size:em(18,27); }
  .action-plan .plan-trigger { top:em(24,17); right:em(1,17); }
  .action-plan .plan-trigger .text { display:inline; }

  /* Plan footer */
  .action-plan .plan-footer .page-wrapper { padding:em(17) em(15) em(10); }
  .action-plan .plan-tools { display:inline-block; }
  .action-plan .plan-tools li { font-size:em(26); width:auto; min-width:em(243,26); margin-right:em(8,26); }
  .action-plan .plan-tools .plan-button { padding:em(8,26) em(20,26); @include border-radius(em(20,26)); }

}
@media only screen and (min-width:600px) and (max-width:1190px) {
  .action-plan .plan-header .page-wrapper { margin:0 em(15); }
}


/* Open/closed state */
.action-plan.closed .plan-liner, .action-plan .plan-trigger, .action-plan.open .plan-trigger .open, .action-plan.closed .plan-trigger .close { display:none; }
.action-plan.open .plan-liner, .js .action-plan .plan-trigger, .plan-help .help-popup.active { display:block; }

/* Plan content */
.action-plan .plan-content { background:#fff; overflow:hidden; }
.action-plan .plan-content .page-wrapper { padding:em(14) em(15) em(20); overflow:hidden; overflow-x:hidden; overflow-y:scroll; }
.action-plan .plan-content h3 { font-size:em(24); line-height:lh(26,24); margin:0 em(20,24) em(16,24) 0; }
.action-plan .plan-content h3 a { color:$skillstool_body; }
.action-plan .plan-content .layout-col-4 { padding:em(35) 0 em(28); border-bottom:1px solid $skillstool_gray_2; }

@media only screen and (min-width:600px) {
  .action-plan .plan-content .page-wrapper { padding:em(38) em(15) em(34); }
  .action-plan .plan-content .layout-col-4 { border-bottom:none; border-right:1px solid $skillstool_gray_2; @include box-sizing(border-box); margin-bottom:em(30); }
  .action-plan .plan-content .layout-col-4:nth-child(3n+1), .action-plan .plan-content .layout-col-4:last-child { border-right:none; margin-right:0; }
  .action-plan .plan-content .layout-col-4.last { border-right:none; margin-right:0; }
  .action-plan .plan-content .layout-col-4 .action-card { margin-right:em(30); }
  .action-plan .plan-content h3 { font-size:em(27); line-height:lh(28,27); margin:em(3,27) em(20,27) em(21,27) 0; }
}
