@import "_sass_mixins_colours";

.rc-tooltip {
    display: block;
    visibility: visible;
    opacity: 1;

    &.job-card-tooltip {
        position: absolute;
        z-index: 10;
        font-size: em(17);
        line-height:lh(22,17);
        overflow:hidden;
        word-wrap:break-word;
        min-height:em(55);
        min-width:em(120);
        max-width:em(284);

        .rc-tooltip-inner {
            padding:em(17,17) em(20,17) em(21,17) em(92,17);
            color: #fff;
            text-align: left;
            text-decoration: none;
            background-color: $skillstool_blue_1;
            border-radius: 1px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
            min-height:em(55);
            min-width:em(120);
            max-width:em(304);
        }

        .rc-tooltip-inner:before { content:""; position:absolute; left:em(20); top:em(15); width:em(54); height:em(54); background:url(../assets/images/placeholders/action-plan-help-avatar-2.jpg) no-repeat; @include background-size(contain); @include border-radius(50%); border:2px solid #fff; }
    }

    &.no-arrow {
        .rc-tooltip-arrow {
            display: none;
        }
    }

    &.help-tooltip {
        position: absolute;
        left: em(0) !important;
        z-index: 2;
    }

    &.list-type-options {
        position: absolute;
        font-size:em(31);
        .ui-menu {
            top: -19px;
            right: 0;
            text-align: center;
        }

        @media only screen and (min-width:600px) {
            font-size: em(46);
        }
    }
}
.rc-tooltip-hidden {
    display: none;
}

.rc-tooltip-placement-top,
.rc-tooltip-placement-topLeft,
.rc-tooltip-placement-topRight {
    padding: 5px 0 9px 0;
}

.rc-tooltip-placement-right,
.rc-tooltip-placement-rightTop,
.rc-tooltip-placement-rightBottom {
    padding: 0 0px 0 10px;
}

.rc-tooltip-placement-bottom,
.rc-tooltip-placement-bottomLeft,
.rc-tooltip-placement-bottomRight {
    padding: 9px 0 5px 0;
}
.rc-tooltip-placement-left,
.rc-tooltip-placement-leftTop,
.rc-tooltip-placement-leftBottom {
    padding: 0 15px 0 0px;
}

.rc-tooltip-arrow {
    position: absolute;
    width: 0px;
    height: 0px;
    border-color: transparent;
    border-style: solid;
}

.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
    bottom: 4px;
    margin-left: -35px;
    border-width: 35px 35px 35px 0;
    border-top-color: $skillstool_blue_1;
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
    left: 50%;
}
.rc-tooltip-placement-topLeft .rc-tooltip-arrow {
    left: 15%;
}
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
    right: 15%;
}

.rc-tooltip-placement-right .rc-tooltip-arrow,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
    left: 0px;
    margin-top: -35px;
    border-width: 35px 35px 35px 0;
    border-right-color: $skillstool_blue_1;
}
.rc-tooltip-placement-right .rc-tooltip-arrow {
    top: 50%;
}
.rc-tooltip-placement-rightTop .rc-tooltip-arrow {
    top: 15%;
    margin-top: 0;
}
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
    bottom: 15%;
}

.rc-tooltip-placement-left .rc-tooltip-arrow,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
    right: 4px;
    margin-top: -35px;
    border-width: 35px 0 35px 35px;
    border-left-color: $skillstool_blue_1;
}
.rc-tooltip-placement-left .rc-tooltip-arrow {
    top: 50%;
}
.rc-tooltip-placement-leftTop .rc-tooltip-arrow {
    top: 15%;
    margin-top: 0;
}
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
    bottom: 15%;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
    top: 4px;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: $skillstool_blue_1;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow {
    left: 50%;
}
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow {
    left: 15%;
}
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
    right: 15%;
}

//ANIMATION
.rc-tooltip.rc-tooltip-zoom-enter,
.rc-tooltip.rc-tooltip-zoom-leave {
    display: block;
}
.rc-tooltip-zoom-enter,
.rc-tooltip-zoom-appear {
    opacity: 0;
    animation-duration: 0.3s;
    animation-play-state: paused;
}
.rc-tooltip-zoom-leave {
    animation-duration: 0.3s;
    animation-play-state: paused;
}
.rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active,
.rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active {
    animation-name: rcToolTipFadeIn;
    animation-play-state: running;
}
.rc-tooltip-zoom-leave.rc-tooltip-zoom-leave-active {
    animation-name: rcToolTipFadeOut;
    animation-play-state: running;
}
@keyframes rcToolTipFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes rcToolTipFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

//This class is for avoid the modals to scroll the underlying page
.ReactCustomModal {
    overflow-y: hidden;
}

