/*
	Careers NZ Skills Transition Tool
	Created: 21 September 2015
	Last updated: See GIT/SVN
  ----------------------------------
  SCSS MIXINS/FUNCTIONS & COLOURS
*/

/* -------------------------------------
   COLUMNS/GRID (based on 12 equal cols)
   -------------------------------------
*/
$margin_right:2.584%;
$total_cols:12;


/* -------------------------------------
   COLOURS
   -------------------------------------
*/

/* Gray */
$skillstool_body: #474747;
$skillstool_gray_1: #f0eee7; /* Page background light gray (*) */
$skillstool_beige_1: #dbd9d0; /* Page background light beige */
$skillstool_gray_2: #a3a3a3; /* Mid gray */
$skillstool_gray_3: #bebebe; /* Lighter mid gray */
$skillstool_gray_4: #acaaa7; /* Another mid gray */
$skillstool_gray_5: #ebebeb; /* Lightest gray */
$skillstool_gray_6: #696969; /* Another darker mid gray */
$skillstool_gray_7: #8f8f8f; /* Another darker mid gray */
$skillstool_gray_8: #434240; /* Darker gray */


/* Green */
$skillstool_green_1: #2ba94f; /* Primary green */
$skillstool_green_2: #17983c; /* Darker green (text) */
$skillstool_green_3: #89c826; /* Bright green */
$skillstool_green_4: #304b0f; /* Dark green (text) */

/* Blue */
$skillstool_blue_1: #009fda; /* Primary blue */
$skillstool_blue_2: #0295cb; /* Darker blue */
$skillstool_blue_3: #01b9ee; /* Light blue */
$skillstool_blue_4: #0f3c4b; /* Very dark blue (text) */

/* Yellow */
$skillstool_yellow_1: #f6cd0d; /* Primary yellow */

/* Sectors */
$sector-yellow: #fbd703;
$sector-green: #62a444;
$sector-blue: #00a5cb;
$sector-purple: #5e5d9a;
$sector-red: #c22126;
$sector-orange: #e27a25;

/* temporary - used to determine which colours to use */
.temp-c { height:53px; padding:10px; text-align:center; padding-top:40px; margin-bottom:1em; }
.skillstool_body { background:$skillstool_body; color:#fff; }
.skillstool_gray_8 { background:$skillstool_gray_8; color:#fff; }
.skillstool_gray_1 { background:$skillstool_gray_1; }
.skillstool_beige_1 { background:$skillstool_beige_1; }
.skillstool_green_1 { background:$skillstool_green_1; color:#fff; }
.skillstool_green_2 { background:$skillstool_green_2; color:#fff; }
.skillstool_green_3 { background:$skillstool_green_3; }
.skillstool_blue_1 { background:$skillstool_blue_1; color:#fff; }
.skillstool_blue_2 { background:$skillstool_blue_2; color:#fff; }
.skillstool_blue_3 { background:$skillstool_blue_3; }
.skillstool_yellow_1 { background:$skillstool_yellow_1; }

/* -------------------------------------
   FUNCTIONS
   -------------------------------------
*/
/* Convert pixels to ems, passing pixels in only */
@function em($px, $context: 16, $basesize: 16) {
  @return (($px/$basesize)/($context/16))+em;
}
/* Generate a line height without any rounding errors
   (for Firefox & Chrome), passing pixels in only */
@function lh($lineheight_in_pixels, $fontsize_in_pixels: 16) {
  @return (round($lineheight_in_pixels)/$fontsize_in_pixels);
}
/* Tint colour */
@function tint($color, $amount: 50%) {
  @if $color == transparent { $color: rgba(white, 0); }
  @return mix($color, white, $amount);
}
/* Shade colour */
@function shade($color, $amount: 50%) {
  @if $color == transparent { $color: rgba(white, 0); }
  @return mix($color, black, $amount);
}


/* -------------------------------------
   MIXINS
   -------------------------------------
*/
@mixin gradient($startcolour, $endcolour) {
  background: $endcolour;
  background: -moz-linear-gradient(top,  $startcolour 0%, $endcolour 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$startcolour), color-stop(100%,$endcolour));
  background: -webkit-linear-gradient(top,  $startcolour 0%,$endcolour 100%);
  background: -o-linear-gradient(top,  $startcolour 0%,$endcolour 100%);
  background: -ms-linear-gradient(top,  $startcolour 0%,$endcolour 100%);
  background: linear-gradient(to bottom,  $startcolour 0%,$endcolour 100%);
}
@mixin gradient-left-right($startcolour, $endcolour) {
  background: $endcolour;
  background: -moz-linear-gradient(left, $startcolour 0%, $endcolour 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$startcolour), color-stop(100%,$endcolour)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, $startcolour 0%,$endcolour 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $startcolour 0%,$endcolour 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, $startcolour 0%,$endcolour 100%); /* IE10+ */
  background: linear-gradient(to right, $startcolour 0%,$endcolour 100%); /* W3C */
}
@mixin box-shadow($h, $v, $blur, $radius, $color) {
  -webkit-box-shadow:$h $v $blur $radius $color;
  box-shadow:$h $v $blur $radius $color;
}
@mixin box-shadow-inset($h, $v, $blur, $radius, $color) {
  -webkit-box-shadow:$h $v $blur $radius $color inset;
  box-shadow:$h $v $blur $radius $color inset;
}
@mixin text-shadow($h, $v, $blur, $color) {
  text-shadow: $h $v $blur $color;
}
@mixin box-sizing($type: border-box) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin border-radius($radius) {
  -webkit-border-radius:$radius;
  border-radius:$radius;
}
@mixin background-size($coverage) {
  -webkit-background-size:$coverage;
  background-size:$coverage;
}
@mixin border-radius-separate($topLeftRadius: 5px, $topRightRadius: 5px, $bottomLeftRadius: 5px, $bottomRightRadius: 5px) {
  -webkit-border-top-left-radius: $topLeftRadius;
  -webkit-border-top-right-radius: $topRightRadius;
  -webkit-border-bottom-right-radius: $bottomRightRadius;
  -webkit-border-bottom-left-radius: $bottomLeftRadius;
  -moz-border-radius-topleft: $topLeftRadius;
  -moz-border-radius-topright: $topRightRadius;
  -moz-border-radius-bottomright: $bottomRightRadius;
  -moz-border-radius-bottomleft: $bottomLeftRadius;
  border-top-left-radius: $topLeftRadius;
  border-top-right-radius: $topRightRadius;
  border-bottom-right-radius: $bottomRightRadius;
  border-bottom-left-radius: $bottomLeftRadius;
}
@mixin transition($scope: all, $time: .2s, $ease:ease-in-out, $delay:0s) {
  -webkit-transition:$scope $time $ease $delay;
  -moz-transition:$scope $time $ease $delay;
  -o-transition:$scope $time $ease $delay;
  transition:$scope $time $ease $delay;
}
@mixin appearance($type:none) {
  -webkit-appearance:$type;
  -moz-appearance:$type;
  appearance:$type;
}
@mixin filter($type:grayscale, $amount:100%) {
  -webkit-filter: $type($amount);
  -moz-filter: $type($amount);
  -ms-filter: $type($amount);
  -o-filter: $type($amount);
  filter: $type($amount);
}
@mixin box-sizing($type:border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}
@mixin transform-translate3d($x:0, $y:0, $z:0) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}
@mixin transform-perspective($amount:1000px) {
  -webkit-transform:perspective($amount);
  -moz-transform:perspective($amount);
  -ms-transform:perspective($amount);
  -o-transform:perspective($amount);
  transform:perspective($amount);
}
@mixin transform-style($type:preserve-3d) {
  -webkit-transform-style:$type;
  -moz-transform-style:$type;
  -ms-transform-style:$type;
  -o-transform-style:$type;
  transform-style:$type;
}
@mixin backface-visibility($visibility:hidden) {
  -webkit-backface-visibility:$visibility;
  -moz-backface-visibility:$visibility;
  -ms-backface-visibility:$visibility;
  -o-backface-visibility:$visibility;
  backface-visibility:$visibility;
}
@mixin transform-rotateY($degrees:0deg) {
  -webkit-transform:rotateY($degrees);
  -moz-transform:rotateY($degrees);
  -ms-transform:rotateY($degrees);
  -o-transform:rotateY($degrees);
  transform:rotateY($degrees);
}


/*
  LAYOUT
*/

body { background-color:$skillstool_gray_1; color:$skillstool_body; }

/* Shell */
#shell { padding-top:em(55); }
.layout-row { clear:both; overflow:hidden; }
.page-wrapper { margin:0 auto; position:relative; text-align:left; max-width:em(1161); }
.page-maincontent .page-wrapper { padding:0 em(15); min-height:em(300); }
.content-wrapper { max-width:em(963); margin:0 auto; }


@media only screen and (min-width:600px) {
  .page-maincontent .page-wrapper { padding:0 em(20); }
  /* Columns - only apply to main column */
  .main .layout-col-1, .main .layout-col-2, .main .layout-col-3, .main .layout-col-4, .main .layout-col-5, .main .layout-col-6, .main .layout-col-7, .main .layout-col-8, .main .layout-col-9 { float:left; margin-right:$margin_right; }
  .main .layout-col-1 { width:((100%-($margin_right*11))/$total_cols); }
  .main .layout-col-2 { width:((100%-($margin_right*5))/($total_cols/2)); }
  .main .layout-col-3 { width:((100%-($margin_right*3))/($total_cols/3)); }
  .main .layout-col-4 { width:((100%-($margin_right*2))/($total_cols/4)); }
  .main .layout-col-5 { width:((100%-$margin_right)/($total_cols/5)); }
  .main .layout-col-6 { width:((100%-$margin_right)/($total_cols/6)); }
  .main .layout-col-7 { width:((100%-$margin_right)/($total_cols/7)); }
  .main .layout-col-8 { width:((100%-$margin_right)/($total_cols/8)); }
  .main .layout-col-9 { width:((100%-$margin_right)/($total_cols/9)); }
  .main .layout-row .layout-col:last-child { margin-right:0; }
  .main .layout-row .layout-col.last { margin-right:0; }
}
@media only screen and (min-width:800px) {
  #shell { padding-top:em(77); }
  .layout-col-1, .layout-col-2, .layout-col-3, .layout-col-4, .layout-col-5, .layout-col-6, .layout-col-7, .layout-col-8, .layout-col-9, .layout-col-10, .layout-col-11 { float:left; margin-right:$margin_right; }
  .layout-col-1 { width:((100%-($margin_right*11))/$total_cols); }
  .layout-col-2 { width:((100%-($margin_right*5))/($total_cols/2)); }
  .layout-col-3 { width:((100%-($margin_right*3))/($total_cols/3)); }
  .layout-col-4 { width:((100%-($margin_right*2))/($total_cols/4)); }
  .layout-col-5 { width:((100%-$margin_right)/($total_cols/5)); }
  .layout-col-6 { width:((100%-$margin_right)/($total_cols/6)); }
  .layout-col-7 { width:((100%-$margin_right)/($total_cols/7)); }
  .layout-col-8 { width:((100%-$margin_right)/($total_cols/8)); }
  .layout-col-9 { width:((100%-$margin_right)/($total_cols/9)); }
  .layout-col-10 { width:((100%-$margin_right)/($total_cols/10)); }
  .layout-col-11 { width:((100%-$margin_right)/($total_cols/11)); }
  .layout-row .layout-col:last-child { margin-right:0; }
  .layout-row .layout-col.last { margin-right:0; }
  /* General content page */
  .main.layout-col-8 { width:percentage(732/1120); padding-bottom:em(38); }
  .sidebar.layout-col-4 { width:percentage(348/1120); margin-right:0; margin-top:em(22); }
}

/* Links */
a { text-decoration:none; color:$skillstool_blue_1; }
a:hover, a:active, a:focus { text-decoration:underline; }