@import "sass_mixins_colours";

/*
  LAYOUT
*/

body { background-color:$skillstool_gray_1; color:$skillstool_body; }

/* Shell */
#shell { padding-top:em(55); }
.layout-row { clear:both; overflow:hidden; }
.page-wrapper { margin:0 auto; position:relative; text-align:left; max-width:em(1161); }
.page-maincontent .page-wrapper { padding:0 em(15); min-height:em(300); }
.content-wrapper { max-width:em(963); margin:0 auto; }


@media only screen and (min-width:600px) {
  .page-maincontent .page-wrapper { padding:0 em(20); }
  /* Columns - only apply to main column */
  .main .layout-col-1, .main .layout-col-2, .main .layout-col-3, .main .layout-col-4, .main .layout-col-5, .main .layout-col-6, .main .layout-col-7, .main .layout-col-8, .main .layout-col-9 { float:left; margin-right:$margin_right; }
  .main .layout-col-1 { width:((100%-($margin_right*11))/$total_cols); }
  .main .layout-col-2 { width:((100%-($margin_right*5))/($total_cols/2)); }
  .main .layout-col-3 { width:((100%-($margin_right*3))/($total_cols/3)); }
  .main .layout-col-4 { width:((100%-($margin_right*2))/($total_cols/4)); }
  .main .layout-col-5 { width:((100%-$margin_right)/($total_cols/5)); }
  .main .layout-col-6 { width:((100%-$margin_right)/($total_cols/6)); }
  .main .layout-col-7 { width:((100%-$margin_right)/($total_cols/7)); }
  .main .layout-col-8 { width:((100%-$margin_right)/($total_cols/8)); }
  .main .layout-col-9 { width:((100%-$margin_right)/($total_cols/9)); }
  .main .layout-row .layout-col:last-child { margin-right:0; }
  .main .layout-row .layout-col.last { margin-right:0; }
}
@media only screen and (min-width:800px) {
  #shell { padding-top:em(77); }
  .layout-col-1, .layout-col-2, .layout-col-3, .layout-col-4, .layout-col-5, .layout-col-6, .layout-col-7, .layout-col-8, .layout-col-9, .layout-col-10, .layout-col-11 { float:left; margin-right:$margin_right; }
  .layout-col-1 { width:((100%-($margin_right*11))/$total_cols); }
  .layout-col-2 { width:((100%-($margin_right*5))/($total_cols/2)); }
  .layout-col-3 { width:((100%-($margin_right*3))/($total_cols/3)); }
  .layout-col-4 { width:((100%-($margin_right*2))/($total_cols/4)); }
  .layout-col-5 { width:((100%-$margin_right)/($total_cols/5)); }
  .layout-col-6 { width:((100%-$margin_right)/($total_cols/6)); }
  .layout-col-7 { width:((100%-$margin_right)/($total_cols/7)); }
  .layout-col-8 { width:((100%-$margin_right)/($total_cols/8)); }
  .layout-col-9 { width:((100%-$margin_right)/($total_cols/9)); }
  .layout-col-10 { width:((100%-$margin_right)/($total_cols/10)); }
  .layout-col-11 { width:((100%-$margin_right)/($total_cols/11)); }
  .layout-row .layout-col:last-child { margin-right:0; }
  .layout-row .layout-col.last { margin-right:0; }
  /* General content page */
  .main.layout-col-8 { width:percentage(732/1120); padding-bottom:em(38); }
  .sidebar.layout-col-4 { width:percentage(348/1120); margin-right:0; margin-top:em(22); }
}

/* Links */
a { text-decoration:none; color:$skillstool_blue_1; }
a:hover, a:active, a:focus { text-decoration:underline; }

/*
 MISC
---------------------------------------
*/

/* Overlays */
#list-changing-overlay { background:rgba(250, 250, 250, 0.92) none repeat scroll 0 0; display:block; height:100%; left:0; position:fixed; top:0; width:100%; z-index:8021; opacity:0; visibility:hidden; }
#list-changing-overlay .overlay-liner { bottom:0; height:60%; left:0; margin:auto; overflow:visible; position:absolute; right:0; top:0; width:50%; }
#list-changing-overlay .message { font-size:em(46); line-height:lh(51,46); color:$skillstool_blue_1; text-align:center; }
#list-changing-overlay .message .icon-refresh { display:block; font-size:168%; margin-bottom:em(24,46); @include transform-rotate(0); }
#list-changing-overlay.active { visibility:visible; opacity:1; @include transition(all, .5s, ease-in-out); }

@media only screen and (max-width:599px) {
  #list-changing-overlay { font-size:65%; }
}

/* Pinned elements */
.pinned { position:fixed; width:100%; left:0; bottom:0; z-index:11; }

/* Responsive - generic styles */
.desktop, .mobile, .tablet, .print, .hide { visibility:hidden; position:absolute; left:-999em; width:1px; overflow:hidden; opacity:0; }
@media only screen and (max-width:599px) {
  .mobile { visibility:visible; position:inherit; left:inherit; width:inherit; overflow:inherit; opacity:1; }
}
@media only screen and (min-width:600px) and (max-width:799px) {
  .tablet { visibility:visible; position:inherit; left:inherit; width:inherit; overflow:inherit; opacity:1; }
}
@media only screen and (min-width:800px) {
  .desktop { visibility:visible; position:inherit; left:inherit; width:inherit; overflow:inherit; opacity:1; }
}




@media print {

  /*
   HIDE
  ------------------------------------- */
  .xxx { display:none !important; }


  /*
   HIDE BACKGROUND
  ------------------------------------- */
  .xxx { background:none !important; }


  /*
   SHOW
  ------------------------------------- */
  .print { display:block !important; }


  /*STILL TO DO: block-taxonomies-featured */


  /*
   SPECIFIC PRINT STYLES
  ------------------------------------- */
  html { font-size:115%; }
  body { background:#fff; color:#000; }


  /*
   HEADER
  ------------------------------------- */


  /*
   MAIN CONTENT
  ------------------------------------- */

  /* Links */
  a { color:#000 !important; }
  #content a:after { content:" (https://www.careers.govt.nz" attr(href) ")"; text-decoration:underline; word-wrap:break-word; font-family:'xxx', Arial, sans-serif; }
  #content a[href^="http://"]:after { content:" (" attr(href) ")"; }
  #content a[href^="mailto:"]:after, #content .tag a:after, #content a.tag:after, .togglecomposite a:after { display:none; }
  .content-wrapper .nav-sitemap a:after { display:block; }

  /* Color */
  li ul, li ol, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, li, label { color:#000 !important; }

  /* Typographic */
  .content-wrapper .intro-text { font-size:115%; color:#000; }
  .content-wrapper h1, .content-wrapper .h1 { font-size:45px; }
  .content-wrapper h2, .content-wrapper .h2, .h2 { border-bottom:1px solid #ccc !important; color:#000 !important; }
  #content .caption, .content-wrapper blockquote { color:#000; border:none !important; padding-left:0; padding-bottom:0; }

  /* Images */
  .figure img, .captionImage img { border:none !important; }
  .figure.align-left img, .figure.align-right img, .captionImage.left img, .captionImage.right img { width:auto; max-width:100%; }

  /* Tables */
  .page-maincontent table { border-bottom:2px solid #000; border-left:1px solid #ccc; }
  .page-maincontent th, .page-maincontent td { border:none; border-right:1px solid #ccc; }
  .page-maincontent th { color:#000; border-bottom:2px solid #000; }

  /* Misc */
  .js-pageurl { font-size:14px; margin:0.75em 0 0; text-decoration:underline; }
  .js-pageurl.last { margin:1em 0; }
}