/*
 JOB & QUALIFICATION CARDS
---------------------------------------
*/

@charset "UTF-8";
@import "../../main.scss";


/* Shared styles */
.careers-card-wrapper { overflow:hidden; padding:em(42) 0 em(13); } /*29*/
.careers-card-wrapper:after { content:""; display:block; clear:both; width:100%; height:0; } /* don't use overflow:hidden, due to 3d animation effects */
.careers-card { position:relative; max-width:em(367); margin-bottom:em(41); }
.careers-card .liner { background:#fff; padding:0 em(15) 0 em(25); min-height:em(484); @include border-radius(0 em(28) 0 0); @include box-shadow(0, 2px, 1px, 0, rgba(0,0,0,0.2)); @include box-sizing(border-box); }
.careers-card p { font-size:1em; margin:0; padding:0; }
.careers-card .title { font-size:em(28); line-height:lh(28,28); color:$skillstool_green_2; padding:em(40,28) em(30,28) em(33,28) 0; }
.careers-card .image { margin:0 em(10) em(17) 0; }
.careers-card .description { font-size:em(14); line-height:lh(19,14); }
.careers-card dl { font-size:em(14); line-height:lh(17,14); margin:0; overflow:hidden; }
.careers-card dt, .careers-card dd { margin:em(5,14) 0 0; padding:em(6,14) 0 0; float:left; border-top:1px solid $skillstool_beige_1; @include box-sizing(border-box); text-align:left; }
.careers-card dt { width:50%; clear:both; }
.careers-card dd { width:34%; }
.careers-card .front dt:first-child, .careers-card .front dd:nth-child(2) { border:none; }
.careers-card .front dd.nthchild-2 { border:none; }
.careers-card .action-flip { font-size:em(14); line-height:lh(17,14); display:block; float:left; width:34%; padding:em(50,14) 0 0; letter-spacing:-0.025em; outline:none; }
.careers-card .action-remove, .careers-card .action-reinstate { font-size:em(17); position:absolute; top:em(14,17); right:em(15,17); width:em(30,17); height:em(25,17); padding-top:em(5,17); color:$skillstool_gray_4 !important; overflow:hidden; }
.careers-card .action-remove:hover, .careers-card .action-remove:active, .careers-card .action-remove:focus { text-decoration:none; color:#fff !important; background:$skillstool_gray_4; @include border-radius(50%); }
.careers-card .action-remove .icon-cross { display:block; text-align:center; }
.careers-card .sectors { top:em(71); }

/* Card actions */
.careers-card .card-actions { font-size:em(17); line-height:lh(29,17); display:block; background:$skillstool_green_1; color:#fff !important; text-align:center; padding:em(14,17) 0 em(13,17); @include border-radius(0 0 em(28,17) em(28,17)); @include box-shadow(0, 2px, 1px, 0, rgba(0,0,0,0.2)); letter-spacing:-0.025em; }
.careers-card .card-actions:hover, .careers-card .card-actions:active, .careers-card .card-actions:focus { background:$skillstool_gray_8; text-decoration:none; }

/* Card back/rear variation */
.careers-card .back .liner { background:$skillstool_body; color:#fff; @include border-radius(em(28) 0 0 0); }
.careers-card .back .title { font-size:em(22); line-height:lh(21,22); color:#fff; padding:em(29,22) em(30,22) em(5,22) 0; }
.careers-card .back .description { color:$skillstool_gray_4; }
.careers-card .action-skills-match { font-size:em(14); line-height:lh(19,14); display:block; padding:em(12,14) 0 em(6,14); margin:em(12,14) 0 0; text-align:center; }
.careers-card .action-skills-match em { text-decoration:underline; }
.careers-card .back dl { padding-bottom:em(8); }
.careers-card .back dt, .careers-card .back dd { border-top-color:$skillstool_gray_6; }
.careers-card .back dt { font-size:em(15,14); line-height:lh(18,15); color:$skillstool_gray_4; width:33.25%; margin:em(5,15) 0 0; padding:em(8,15) 0 0; }
.careers-card .back dd { width:63%; padding-top:em(8,14); padding-bottom:em(4,14); }
.careers-card .back a { color:$skillstool_blue_3; }
.careers-card .divider { border-top:2px dotted $skillstool_gray_4; }
.careers-card .back .action-joblink-external { font-size:em(15); line-height:lh(18,15); padding:em(11,15) 0 em(10,14); display:block; float:left; width:60%; }
.careers-card .back .action-flip { padding:em(22,14) 0 em(10,14); float:left; width:36%; text-align:right; }
.careers-card .back .action-flip .icon-refresh { margin-left:em(4,14); }

/* Job card variation */
.careers-card.job dl { float:left; width:66%; }
.careers-card.job .back dl { float:none; width:auto; }

/* Qualification card variation */
.careers-card.qualification .liner { min-height:em(384); }
.careers-card.qualification header { height:em(221); } /* This is the height that the title needs toi be squashed into */
.careers-card.qualification .title { padding:em(30,28) em(30,28) em(23,28) 0; }
.careers-card.qualification .provider { padding-bottom:em(16); }
.careers-card.qualification .description { padding:em(16,14) 0; }
.careers-card.qualification .full-details { margin:em(10) 0 0; padding:em(10,14) 0; }
.careers-card.qualification dl { padding-bottom:em(10,14); }
.careers-card.qualification dt { width:35%; color:$skillstool_gray_6; }
.careers-card.qualification dd { width:65%; }

/* Course card variation */
.careers-card.course .liner { min-height:em(314); padding:0 em(21); }
.careers-card.course .title { font-size:em(22); line-height:lh(24,22); color:$skillstool_blue_1; padding:em(43,22) em(30,22) em(13,22) 0; }
.careers-card.course dt { width:35%; color:$skillstool_gray_7; }
.careers-card.course dd { width:65%; }
.careers-card.course .button { font-size:em(18); display:block; position:absolute; left:em(21,18); right:em(21,18); min-width:auto; bottom:2em; margin:0 auto; padding:em(12,18) 0; white-space:nowrap; }
.careers-card.course .button .icon-arrow-right { font-size:em(21,19); margin-left:0.15em; }

/* Hidden card variation */
.results-hidden .careers-card .front .liner { border:1px solid $skillstool_beige_1; @include box-sizing(border-box); }
.results-hidden .careers-card .action-reinstate { font-size:125%; top:em(6,20); right:0; }
.careers-card .action-reinstate, .careers-card .reinstate-card, .results-hidden .careers-card .action-flip, .results-hidden .careers-card .card-actions, .results-hidden .careers-card .action-remove,
.careers-card.course .reinstate-card, .results-hidden .careers-card.course .button { display:none; }
.results-hidden .careers-card .action-reinstate, .results-hidden .careers-card .reinstate-card, .results-hidden .careers-card.course .reinstate-card { display:block; }

/* Card Animation */
.careers-card.job { width:100%; height:em(543); @include transform-perspective(1000px); @include transform-style(preserve-3d); position:relative; left:0; z-index:2; }
.careers-card.job .card { @include transform-style(preserve-3d); @include transition(all, .6s, ease); @include backface-visibility(hidden); @include transform-rotateY(0deg); position:absolute; width:100%; height:100%; }
.careers-card.job .back { @include transform-rotateY(179deg); }
.careers-card.flip .front { @include transform-rotateY(-180deg); }
.careers-card.flip .back { @include transform-rotateY(0deg); }
.careers-card.removed { opacity:0; /* position:absolute; left:-999px; */}

@media only screen and (min-width:600px) {
  .careers-card-wrapper { margin-right:em(-30); padding-bottom:em(2); }
  .careers-card { float:left; margin-right:em(30); margin-bottom:em(38); width:em(367); }
  .careers-card.job { height:em(677); }
  .careers-card.qualification { height:em(564); }
  .careers-card.course { width:em(267); }
  .careers-card .liner { padding:0 em(20) 0 em(28); min-height:em(603); }
  .careers-card.qualification .liner { min-height:em(493); }
  .careers-card .image { margin:0 em(5) em(26) 0; }
  .careers-card .card-actions { font-size:em(22); line-height:lh(37,22); padding:em(16,22) 0 em(20,22); @include border-radius(0 0 em(28,22) em(28,22)); }
  .careers-card.qualification .card-actions { padding:em(12,22) 0; }
  .careers-card .action-remove { font-size:em(18); position:absolute; top:em(17,18); right:em(17,18); width:em(30,18); height:em(30,18); height:em(25,18); padding-top:em(4,18); }

  /* Front */
  .careers-card .title { font-size:em(39); line-height:lh(40,39); padding:em(50,39) em(30,39) em(41,39) em(4,39); }
  .careers-card .front dl { font-size:em(17); line-height:lh(22,17); padding-left:1.5%; }
  .careers-card.job .front dl { width:68%; }
  .careers-card .front dt, .careers-card .front dd { margin:0; padding:em(9,17) 0; }
  .careers-card .front .action-flip { padding-top:em(59,17); width:30%; }
  .careers-card .sectors { top:em(128); }
  .careers-card.qualification header { height:em(189); } /* This is the height that the title needs toi be squashed into */
  .careers-card.qualification .description { font-size:em(16); padding:em(16) 0; }

  /* Back */
  .careers-card .back .liner { padding:0 em(20) 0 em(31); }
  .careers-card .back .title { font-size:em(27); line-height:lh(28,27); padding:em(32,27) em(30,27) em(3,27) em(2,27);  }
  .careers-card .back .description, .careers-card .action-skills-match, .careers-card .back dl, .careers-card .back .action-joblink-external, .careers-card .action-flip { font-size:em(17); line-height:lh(23,17); }
  .careers-card .back .description { }
  .careers-card .action-skills-match { padding:em(10,17) 0 em(4,17); margin:em(28,17) 0 0; }
  .careers-card .back dl { line-height:lh(22,17); padding-bottom:em(29); }
  .careers-card .back dt { font-size:inherit; line-height:lh(23,17); width:34.25%; margin:em(5,17) 0 0; padding:em(12,17) 0 0; }
  .careers-card .back dd { width:64%; line-height:lh(23,17); margin:em(5,17) 0 0; padding:em(12,17) 0 0; }
  .careers-card .back .action-joblink-external { padding-top:em(15,17); }
  .careers-card .back .action-flip { width:39%; }

  /* Qualification card variation */
  .careers-card.qualification .front dl { font-size:em(14); }
  .careers-card.qualification .front dt, .careers-card.qualification .front dd { margin:em(5,14) 0 0; padding:em(9,14) 0; }


}

/* Card sectors (pie icon) */
.sectors { position:absolute; top:20px; right:0; width:em(52); min-height:em(47); }
.sectors a { display:block; padding-top:em(18); background:url(../../assets/images/icons/vocations-icon-all.png) em(5) 0 no-repeat; @include background-size(em(23)); }
.no-svg .sectors a { background-image:url(../../assets/images/icons/vocations-icon-all-ie.png); }
.sectors ul { list-style:none; padding:0; margin:0; position:absolute; top:em(2); right:0; }
.sectors li { background:none; padding:0; margin:0; text-indent:-999em; overflow:hidden; background:orange; width:em(11); height:em(15); }
.sectors li.sector-yellow { background-color:$sector_yellow; }
.sectors li.sector-green { background-color:$sector_green; }
.sectors li.sector-blue { background-color:$sector_blue; }
.sectors li.sector-purple { background-color:$sector_purple; }
.sectors li.sector-red { background-color:$sector_red; }
.sectors li.sector-orange { background-color:$sector_orange; }
.sectors .more { font-size:em(12); }
/* Simpler list version */
.sector-simple-list li { position:relative; }
.sector-simple-list li:before { font-size:18px; content:"•"; position:absolute; left:-0.9em; top:0.1em; }
.sector-simple-list .sector-yellow:before { color:$sector_yellow; }
.sector-simple-list .sector-green:before { color:$sector_green; }
.sector-simple-list .sector-blue:before { color:$sector_blue; }
.sector-simple-list .sector-purple:before { color:$sector_purple; }
.sector-simple-list .sector-red:before { color:$sector_red; }
.sector-simple-list .sector-orange:before { color:$sector_orange; }
