@charset "UTF-8";
@import "../../main.scss";

.progress-bar-status { display:block; overflow:hidden; background:$skillstool_gray_5; height:em(10); width:100%; text-indent:-999em; position:relative; @include border-radius(em(5)); margin:em(6) 0 0; @include box-sizing(border-box); }
.progress-bar-status:before { content:""; position:absolute; left:0; top:0; bottom:0; background:$skillstool_blue_1; @include border-radius(em(5)); @include box-sizing(border-box); }
.progress-bar-status.amount-10:before { width:13%; }
.progress-bar-status.amount-20:before { width:20%; }
.progress-bar-status.amount-30:before { width:30%; }
.progress-bar-status.amount-40:before { width:40%; }
.progress-bar-status.amount-50:before { width:50%; }
.progress-bar-status.amount-60:before { width:60%; }
.progress-bar-status.amount-70:before { width:70%; }
.progress-bar-status.amount-80:before { width:80%; }
.progress-bar-status.amount-90:before { width:90%; }
.progress-bar-status.amount-100:before { width:100%; }

/* Progress bar - questions pages (contains larger version of status display) */
.progress-bar { background:$skillstool_body; color:#fff; position:fixed; width:100%; left:0; bottom:0; z-index:11; }
.progress-bar .page-wrapper { padding:em(16) em(15) em(12); text-align:center; }
.progress-bar ol { list-style:none; text-align:center; }
.progress-bar ol li { display:none; font-size:em(14); line-height:lh(18,14); }
.progress-bar a { color:#fff; text-decoration:underline; }
.progress-bar .progress-bar-status { height:em(23); width:em(158); @include border-radius(em(12)); background:$skillstool_gray_7; margin:0 auto em(8); }
.progress-bar .progress-bar-status:before { border:2px solid #fff; @include border-radius(em(12)); }
.progress-bar .progress-bar-status.amount-10:before { width:15%; }

@media only screen and (min-width:600px) {
  .progress-bar .page-wrapper { padding:em(23) 0 em(21); }
  .progress-bar ol li { font-size:em(18); line-height:lh(18,18); }
}

/* temp */
.progress-bar li.active { display:block; }