@charset "UTF-8";
@import "../../main.scss";

.page-footer { background:$skillstool_gray_8; color:#fff; }
.page-footer .page-wrapper { padding:em(43) em(15); overflow:hidden; }

/* Site name/logo */
.page-footer .site-name { font-size:em(18); line-height:lh(29,18); color:#fff; }

/* nav footer */
.nav-footer { padding:em(32) 0 em(41); }
.nav-footer li { font-size:em(18); line-height:lh(29,18); }
.nav-footer li a { display:block; color:$skillstool_blue_3; }

/* Footer logos */
.page-footer .logo-title { color:#bdbcbc; font-size:em(18); margin-bottom:em(24); }
.footer-logos li { margin:em(17) 0; }
.footer-logos li img { display:block; }

@media only screen and (min-width:800px) {
  .page-footer .page-wrapper { padding-top:em(52); padding-top:em(49); }
  .page-footer .layout-col-3:last-child { margin-right:0; }
  .nav-footer { padding:0; }
}
