
/* SASS imports */
@import "../../../styles/_sass_mixins_colours";


.typeAhead {
  width:180% !important;
}


/*
 AUTOCOMPLETE
 ---------------------------------------
*/
//.ui-helper-hidden-accessible { display:none; }
//.ui-autocomplete-input { position:relative; z-index:2; }
//.ui-autocomplete { background:#fff; border:1px solid $skillstool_gray_2; position:absolute; z-index:1; @include border-radius(em(21) em(21) 0 0); padding:0.75em 0 0.5EM;  }
//.ui-autocomplete .ui-menu-item { font-size:em(14); line-height:lh(18,14); padding:em(5,14) em(20,14); cursor:pointer; }
//.ui-autocomplete .ui-menu-item.ui-state-focus { color:$skillstool_blue_3; }
//
//@media only screen and (min-width:600px) {
//  .ui-autocomplete .ui-menu-item { font-size:em(21); padding:em(5,21) em(15,21); }
//}
